# Ignore sensitive files
final project.docx
DigiCertGlobalRootCA.crt
DigiCertSHA2SecureServer.crt
BaltimoreCyberTrustRoot.crt.pem
archive.zip
Airline_Dataset_Cleaned.csv
airline_database.sql
Airline Dataset.csv


