# Ignore sensitive files
Final Project Queries.pdf
final project.docx
DigiCertGlobalRootCA.crt
DigiCertSHA2SecureServer.crt
Diagrams.mwb
BaltimoreCyberTrustRoot.crt.pem
archive.zip
Airline_Dataset_Cleaned.csv
airline_database.sql
Airline Dataset.csv
Query 1.sql

